.RandomButton {
    display: inline-block;
    /* or use block for a full-width button */
    background-color: white !important;
    color: black;
    /* Adjust the text color if needed */
    border: 1px solid black;
    /* Add a border; change color as needed */
    border-radius: 6px;
    /* Adjust radius for rounded corners */
    padding: 4px 8px;
    /* Adjust size */
    text-align: center;
    font-size: 14px;
    /* Adjust size */
    cursor: pointer;
    margin: 0 auto;
    /* Centering horizontally in block container */
}