/* ViewAllButton.css */
.view-all-button {
    text-decoration: none;
    /* Remove default underline from Link */
    color: black;
    /* Set text color to black */
    margin-right: 50px;
}

.view-all-button span {
    cursor: pointer;
    font-size: 14px;
    transition: text-decoration 0.3s ease;
    /* Smooth transition for underline effect */
}

.view-all-button span:hover {
    text-decoration: underline;
    color: #f23030;
}