#container {
    padding: 20px;
  }
  
  .group-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 4px;
  }
  
  .group-card {
    width: 100px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: center;
  }
  
  .group-card h4 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .group-card p {
    font-size: 10px;
    color: darkgray;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .group-card:hover {
    background-color: #e8f0fe;
    border-color: #90caf9;
  }

  form {
    display: flex;
    flex-direction: column; /* Sắp xếp theo chiều dọc */
    gap: 8px; /* Khoảng cách giữa các thành phần */
    margin-bottom: 4px; /* Khoảng cách phía dưới form */
  }
  
  input, textarea {
    padding: 8px; /* Thêm khoảng trống trong ô nhập */
    font-size: 12px; /* Tăng kích thước chữ */
    border: 1px solid #ccc; /* Đường viền */
    border-radius: 4px; /* Bo góc */
  }
  
  button {
    margin-top: 2px; /* Tạo khoảng cách phía trên nút */
    margin-bottom: 0px;
    padding: 4px 4px;
    font-size: 12px;
    background-color: #f23030;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a0183c;}
  
  .add-group-button {
    margin-bottom: 40px; /* Khoảng cách chỉ áp dụng cho nút Add Group */
    padding: 10px 20px;
    font-size: 12px;
    background-color: #f23030;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-group-button:hover {
    background-color: #a0183c;
  }

  .group-card img, .group-card svg {
    transition: transform 0.2s;
  }
  .group-card img:hover, .group-card svg:hover {
    transform: scale(1.2);
  }
