.sharedFavoritesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
  color: #000000;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.favoritesGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.favoriteCard {
  width: 200px;
  border: 2px solid rgb(220, 220, 230);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  background-color: white;
  color: #000000;
}

.favoriteCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(177, 26, 26, 0.7);
  border-color: #ff4500;
}

.favoriteImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.favoriteCard h5,
.favoriteCard p {
  margin: 5px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.pageButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #f23030;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
}

.pageButton:hover {
  background-color: #a0183c;
  transform: translateY(-1px);
}

.activePage {
  background-color: #9c9c9c;
  color: #333;
  font-weight: bold;
  transform: none;
  cursor: default;
}

.homeButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f23030;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 400px;
  font-weight: bold;
}

.homeButton:hover {
  background-color: #a0183c;
  transform: translateY(-2px);
}

@media (max-width: 1024px) {
  .favoritesGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .favoriteCard {
    width: 180px;
  }

  .title {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .favoritesGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .favoriteCard {
    width: 150px;
  }

  .title {
    font-size: 1.5rem;
  }

  .homeButton {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .favoritesGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .favoriteCard {
    width: 100%;
  }

  .title {
    font-size: 1.2rem;
  }

  .homeButton {
    width: 100%;
  }
}