.bear-react-carousel__nav-button {
    background-color: grey;
    /* Change to your preferred color */
    border: none;
    color: black !important;
    border-radius: 50%;
    transition: background-color 0.3s;
    padding: 5px 10px;
    /* Reduced padding for smaller buttons */
    font-size: 12px;
    /* Smaller text size */
    width: 30px;
    /* Fixed width */
    height: 30px;
    /* Fixed height */
}

.bear-react-carousel__nav-button:hover {
    background-color: #a0183c;
    /* Hover effect */
    transform: none !important;
}

/* Styling for the photo in the carousel */
.carousel-photo {
    width: 70%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    /* Smooth zoom effect */
}

.carousel-photo:hover {
    transform: scale(1.1);
    /* Zoom the image when hovered */
}

/* Styling for the link to ensure no text decoration */
.carousel-link {
    text-decoration: none;
    color: black;
    display: block;
}

/* Styling for the carousel card */
.carousel-card {
    text-align: center;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-card:hover {
    transform: translateY(-3px);
    /* Slightly lift the card */
    border-radius: 15px;
}

/* Styling for the title in the carousel */
.carousel-title {
    font-size: 1rem;
    /* Smaller font size */
    font-weight: 600;
    /* Make the title bold */
    color: #333;
    /* Darker text color for better contrast */
    letter-spacing: 0.5px;
    /* Add spacing between letters */
    transition: color 0.3s ease;
    /* Smooth color transition for hover */
    margin-top: 15px;
}

.carousel-release-date {
    text-align: center;
    margin: 0;
    /* Ensures no unwanted spacing */
    font-size: 15px;
    /* Adjust font size as needed */
    margin-top: 5px;
}