/* Styling for the title */
.carousel-selection-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    margin: 0;
}

/* Optional styling for the 'loading' message */
.carousel-selection-loading {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}

/* Ensuring the carousel gets proper spacing and alignment */
.carousel-selection-carousel {
    margin-top: 20px;
}

.carousel-selection-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-left: 50px;
    margin-top: 35px;
    margin-bottom: -20px;
}