/* Container for aligning children items horizontally */
.nav-container {
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  /* padding-top: 200px; */
  padding-left: 0px;
  margin-bottom: 20px;
}



/* Navigation links styling */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0px 280px;
  line-height: 100px;
  padding: 0px;
}


.nav-link {
  margin-left: 25px;
  position: relative;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: auto;
}

#li1 {
  margin-left: 20px;
}

/* for the dropdown menu */
/* Dropdown menu styling */
.dropdown1 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #36d394;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: none;
  height: auto;
  width: auto;
  z-index: 1;
  overflow: hidden;
}

.dropdown1 {
  width: 600px;
  column-count: 4;
  column-gap: 18px;
  /* margin-left: 10px; */
  /* margin-left: 20px;  */
  padding: 10px;

  border: 1px solid #ddd;
  background-color: gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.dropdown1 li {
  width: 140px;
  /* Width of each item */
  /* padding-left: 5px; */
  height: 60px;
  margin-left: 10px;
  /* margin-right: 20px; */
  overflow: hidden;
}

.dropdown1 li a {
  color: white;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  height: 100%;
  line-height: 60px;
  padding: 0;
}

/* Show the dropdown when hovering over the nav-link */
.nav-link:hover .dropdown1 {
  display: block;
  padding-left: 0px;
}

/* Optional: Hover effect for dropdown items */
.dropdown1 li a:hover {
  background-color: #a0183c;
  padding-left: 0px;
}




/* Link styling */
.nav-link a {
  /* font-size: large; */
  font-family: 'Arial', sans-serif;
  font-size: large;
  text-decoration: none;
  color: black;
  /* Adjust color for readability */
  font-weight: bold;
}


#movieapplogo-container {
  display: flex;
  width: 70px;
  height: 80px;
  margin-left: 20px;
  margin-top: 5px;
}


/* for pagination */