.moviePickerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers child elements horizontally */
    justify-content: center;
    /* Centers child elements vertically */
    padding: 30px;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    background: linear-gradient(to right, #f23030, #a0183c, #31003d, #480636);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Ensures text inside child elements is centered */
    box-sizing: border-box;
    margin-bottom: 60px;
    margin-top: 50px;
}

.moviePickerContainer p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    /* Center the text within the paragraph */
    margin-left: auto;
    /* Ensures the paragraph is centered */
    margin-right: auto;
    /* Ensures the paragraph is centered */
}


.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers the select horizontally */
    justify-content: center;
    /* Centers vertically if applicable */
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    /* Constrain the width of the input field */
}

select {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 100%;
    /* Take up the full width of the container */
    text-align: center;
    /* Align text inside the select */
}

.randomTitle {
    color: #fff;
}

/* Button styles */
button {
    padding: 4px 8px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    transform: scale(1.05);
}