/* Style for the MoviePicker container */
.movie-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    background: linear-gradient(to right, #f23030, #a0183c, #31003d, #480636);
    /* New gradient */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

/* Title and Description */
.movie-picker-container h1 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
}

.movie-picker-container p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    max-width: 600px;
    width: 100%;
}

/* Style for GenreSelector component */
.select-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}

select {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    width: 100%;
}

select:focus {
    border-color: #000000;
    outline: none;
}

/* Button styles */
button {
    padding: 10px 16px;
    font-size: 14px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    transform: scale(1.05);
}